.signIn {
    flex: 1;
    justify-self: center;
    align-self: center;
    width: 30%;
    margin-top: 1em;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 2em;
    justify-content: space-around;
}

.apiKeyBox{
    width: 70%;
}

.newApiKeyBox {
    width: fit-content;
    margin-left: 0.1em;
}