button{
    border: none;
}

.btn-purple {
    color: white;
    background-color: #8A2BE2;
}

.btn-pink {
    color: black;
    background-color: #bf71e8;
}

.btn-red {
    color: white;
    background-color: #d72400;
}