<main class="@_Layout @Class" style="@Style">
	@ChildContent
</main>

@namespace Lotus_Authentication.Components
@code {
	[CascadingParameter(Name = "Layout")] public PageLayout Layout { get; set; }

	[Parameter] public RenderFragment ChildContent { get; set; }
	[Parameter] public string Class { get; set; }
	[Parameter] public string Style { get; set; }
	
	private string _Layout = string.Empty;

	protected override void OnInitialized()
	{
		_Layout = Layout switch
		{
			PageLayout.TopLayout => "main-top-layout",
			PageLayout.SideLayout => "main-side-layout",
			PageLayout.TopNoSideLayout => "main-top-noside-layout",
			_ => "main-top-layout"
		};
	}
}
