@keyframes wiggle {
    0% { transform: rotate(8deg); }
    80% { transform: rotate(-2deg); }
    85% { transform: rotate(2deg); }
    95% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 0.5s;
}

.b-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.b-shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.b-shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.b-shadow-lg-blue {
    box-shadow: 0 1rem 3rem rgba(0, 120, 255, 0.25);
}

.component-body-base {
    width: 98%;
    align-self: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 1%;
}